@import "tailwindcss";
@import "./typography.css";

@theme {
  /* Base colors */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Gray scale */
  --color-gray-10: #e5e5e5;
  --color-gray-20: #cccccc;
  --color-gray-30: #b2b2b2;
  --color-gray-40: #999999;
  --color-gray-50: #7f7f7f;
  --color-gray-60: #666666;
  --color-gray-70: #4c4c4c;
  --color-gray-80: #333333;
  --color-gray-90: #191919;

  /* Brown scale */
  --color-brown: #4d2700;
  --color-brown-10: #5e3c19;
  --color-brown-20: #715233;
  --color-brown-10t: #452300;
  --color-brown-20t: #3e1f00;
  --color-brown-dark: #3d0303;

  --color-cream: #fffaea; /* 컨테이너/배경용 크림색 */

  /* Yellow scale */
  --color-yellow: #ffc414;
  --color-yellow-10: #ffeebd;
  --color-yellow-30: #ffd65a;
  --color-yellow-60: #ffe7a1;
  --color-yellow-90: #f4e891;
  --color-yellow-10t: #e6b112;
  --color-yellow-20t: #cc9d10;
  --color-yellow-light: #fff0c8;

  --color-yellow-40: #ffda70; /* 살짝 더 밝은 메인톤 */
  --color-yellow-50: #ffed9f; /* 부드럽고 은은한 톤 */
  --color-yellow-70: #f9d14b; /* 약간 오렌지 기운 추가 */
  --color-yellow-80: #f2b400; /* 진한 골드톤 */
  --color-yellow-100: #e8a200; /* 앰버계열 깊은 옐로우 */
  --color-yellow-110: #d4a437; /* 골드 브라운 */
  --color-yellow-120: #b58a00; /* 어두운 골드 */

  --color-orange-light: #ffcc33;
  --color-orange: #ffbf33;
  --color-orange-dark: #ffb233;

  /* Accent */
  --color-red: #ff0000;
  --color-red-dark: #e60000;
  --color-blue: #3e3bff;
  --color-green: #02e819;
}

@layer base {
  html {
    font-size: 62.5%; /*1rem: 10px */
  }
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .text-stroke-white {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--White, #fff);
  }
  .text-stroke-brown {
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: var(--Brown, #4d2700);
  }
  .text-stroke-brown-m {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--Brown, #4d2700);
  }
  .text-stroke-brown-s {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--Brown, #4d2700);
  }
  .text-stroke-black {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--Black, #000);
  }
  .button-shadow-yellow {
    box-shadow:
      0px 0px 4px 0px #462611,
      0px 2px 0px 0px #fff inset,
      0px 27px 4.6px 0px rgba(255, 191, 0, 0.46) inset,
      0px -4px 2.7px 0px rgba(206, 123, 0, 0.34) inset,
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .button-shadow-gray {
    box-shadow:
      0px 0px 4px 0px #2c2c2c,
      0px 2px 0px 0px #fff inset,
      0px 27px 4.6px 0px rgba(128, 128, 128, 0.46) inset,
      0px -4px 2.7px 0px rgba(80, 80, 80, 0.34) inset,
      0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* 그대로 */
  }

  .button-shadow-yellow10 {
    box-shadow:
      0px 1px 7px rgba(0, 0, 0, 0.73),
      0px -11px 0 rgba(255, 153, 0, 0.25) inset,
      0px 6px 6.2px #fff inset,
      0px 75px 50.2px rgba(255, 207, 135, 0.17) inset,
      0px 10px 4px rgba(0, 0, 0, 0.25);
  }

  /* hover 시 그림자 */
  .hover\:button-shadow-yellow10:hover {
    box-shadow:
      0px 1px 7px rgba(0, 0, 0, 0.73),
      0px -11px 0 rgba(180, 120, 0, 0.25) inset,
      0px 6px 6.2px #fff inset,
      0px 70px 50.2px rgba(255, 136, 0, 0.17) inset,
      0px 10px 4px rgba(0, 0, 0, 0.25);
  }

  .hover\:buttombar-shadow {
    box-shadow:
      0px 1px 3.8px 0px #000,
      0px 2px 1.3px 0px #fff inset,
      0px 31px 14.7px 0px rgba(73, 32, 0, 0.25) inset,
      0px -13px 16.9px 0px #351c00 inset,
      0px 4px 4px 0px rgba(0, 0, 0, 0.58);
  }

  .custom-shadow {
    border-radius: 20px;
    border: 2px solid #000000;
    background: #442b1b;
    box-shadow:
      inset 0 3px 0 0 #fff,
      inset 0 62px 8.5px 0 rgba(46, 42, 40, 0.25),
      inset 0 -10px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .yellow-3d {
    background: linear-gradient(
      to bottom,
      var(--color-yellow-10),
      var(--color-yellow-30),
      var(--color-yellow)
    );
  }

  .orange-3d:hover {
    background: linear-gradient(
      to bottom,
      var(--color-orange-light),
      var(--color-orange),
      var(--color-orange-dark)
    );
  }
}
