@theme {
  --text-title: 12.8rem; /* 204.8px */
  --text-title--font-style: normal;
  --text-title--font-weight: 400;
  --text-title--line-height: normal;

  --text-title2: 7rem; /* 112px */
  --text-title2--font-style: normal;
  --text-title2--font-weight: 400;
  --text-title2--line-height: normal;

  --text-heading1: 4rem; /* 64px */
  --text-heading1--font-style: normal;
  --text-heading1--font-weight: 400;
  --text-heading1--line-height: normal;

  --text-heading2: 3.6rem; /* 57.6px */
  --text-heading2--font-style: normal;
  --text-heading2--font-weight: 400;
  --text-heading2--line-height: normal;

  --text-body: 3.2rem; /* 51.2px */
  --text-body--font-style: normal;
  --text-body--font-weight: 400;
  --text-body--line-height: normal;

  --text-lab1: 2.4rem; /* 38.4px */
  --text-lab1--font-style: normal;
  --text-lab1--font-weight: 400;
  --text-lab1--line-height: normal;

  --text-lab2: 2rem; /* 32px */
  --text-lab2--font-style: normal;
  --text-lab2--font-weight: 400;
  --text-lab2--line-height: normal;

  --text-cap1-sb: 2rem; /* 32px */
  --text-cap1-sb--font-style: normal;
  --text-cap1-sb--font-weight: 600;
  --text-cap1-sb--line-height: normal;

  --text-cap1: 1.4rem; /* 22.4px */
  --text-cap1--font-style: normal;
  --text-cap1--font-weight: 400;
  --text-cap1--line-height: normal;

  --text-cap1-med: 2rem; /* 32px */
  --text-cap1-med--font-style: normal;
  --text-cap1-med--font-weight: 500;
  --text-cap1-med--line-height: normal;

  --text-cap2: 3.2rem; /* 51.2px */
  --text-cap2--font-style: normal;
  --text-cap2--font-weight: 700;
  --text-cap2--line-height: normal;

  --text-cap3: 1rem;
  --text-cap3--font-style: normal;
  --text-cap3--font-weight: 400;
  --text-cap3--line-height: normal;
}
